<!DOCTYPE html>
<html lang='ko'>

<head>
<title>{% block title %}Pytagram{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

  <div id="header">
    <h1 class="maintitle">Pytagram</h1>
    <h4 class="welcome">Welcome, <a href="#"> wychoi</a> /
      <a href="#">Change Passwd</a> /
      <a href="#">Log out</a> /
    </h4>

  </div>


  <div id="menu">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'blog:title' %}">Blog</a></li>
    <li><a href="{% url 'photos:index' %}">Photo</a></li>

    <li><a href="#">Add&bigtriangledown;</a>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Photo</a></li>
      </ul>
    </li>

    <li><a href="#">Change&bigtriangledown;</a>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Photo</a></li>
      </ul>
    </li>

    <li><a href="#">Archive</a></li>
    <li><a href="#">Search</a></li>
    <li><a href="#">Admin</a></li>

  </div>


{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>

</html>
